<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Destroy</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center text-danger mt-5">
      <h1>Are you sure you want to delete the following course?</h1>
      <table class="table my-5">
        <tbody>
          <tr>
            <td class='h3'>Name:</th>
            <td class='h3'>{{course.name}}</td>
          </tr>
          <tr>
            <td class='h3'>Description: </th>
            <td class='h3'>{{course.description.first.description}}</td>
          </tr>
        </tbody>
      </table>
      <a href="../" class='btn btn-outline-primary btn-lg mr-5'>No</a><form
      id="delete_form"
      action="/{{ course.id }}/destroy"
      method="post"
      class="d-inline ml-5"
    >
      {% csrf_token %}
      <a class='btn btn-outline-danger btn-lg px-5 text-danger'
        href="#"
        onclick="document.getElementById('delete_form').submit()"
        >Yes</a
      >
    </form>
    </div>
    
  </body>
</html>
